<!-- En tu archivo listar_proveedores.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Productos</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.nombre }} - {{ producto.stock }} - {{ producto.fk_prov_id }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
</body>
</html>
